# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# PDFs gerados (opcional - remova esta linha se quiser versionar os PDFs)
pdfs/*.pdf

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
